*.vtk
*.h5m
*~
*.o
*.jou
*.bash
*.out
tartarus/build
tartarus/tartarus
print_vols
make_watertight/post_process
make_watertight/make_watertight
make_watertight/check_watertight
lcad
iter.sat
bob
complex_models/*
make_watertight/cube/*
test/cones.stl