# Ignore extensions
*.o
*.swp
*~
#*
# vscode settings
.vscode
*.code-workspace

# Ignore built documentation
gh-build

# Ignore common build directory names
bld
build

#ignore pyne amalgamation
src/pyne/pyne.cpp
src/pyne/pyne.h